markdown:
  2018 kicked off with an immense interest in token-powered platforms and services, with sales of tokens generating [more than $4 billion](https://www.coinschedule.com/stats.html?year=2018) just in the first quarter.

  Public interest in Initial Coin Offerings is increasing rapidly, &mdash; as is the attention and scrutiny paid to scammers, untrustworthy companies, and faulty token models.

  ![Total volume of ICOs in 2018 Q1](/blog/1/icos2018q1.png)

  ## How risky are the ICOs?

  Unfortunately, startups with obscure whitepapers and non-viable business models still manage to get support from prestigious partners and lots of hype from their bounty programs.
  When news of their funding breaks, people are quick to roll their eyes and predict failure.
  And then, yes, almost half of them fail spectacularly.

  The graveyard of ICOs is littered with [dead tokens](https://bitcoinexchangeguide.com/deadcoins/), and they’re continuing to pile up at accelerated rate.

  Those who were shrewd enough to predict the failure had no way to act on, and benefit from, that knowledge. The ICO token market is *inefficient* but it isn’t *exploitable*.
  There is no way to make a profit just by predicting that a startup has a bad business model and that their tokens cost more than they should.

  A typical ICO token sale process lacks a certain type and direction of liquidity: you can’t short sell the newly issues tokens as they are not traded on any exchanges.

  > The graveyard of ICOs is littered with dead tokens, and they’re continuing to pile up at accelerated rate.

  ## Is it all that bad?

  Despite the risks posed by ICOs, we still believe that ICOs play an important role in accelerating innovation and can provide immense value in the future.
  The hope is not lost.

  The knowledge about scams and risky ICOs is out there, but until now there hasn’t been a way to act on it (and benefit).

  * Do you already know that an ICO is too risky?
  * Did you read the whitepaper and realised that the token-based service will never take off?

  Now you can make money from that.

  ## Introducing PredictionMarkt

  We value transparency in the blockchain space, and we want to contribute to the promotion of token-powered economic growth and consumer protection.
  To that end, we’ve created a platform that gathers the wisdom of the crowd to provide better insight into token value (&mdash; and ICO success).

  Through our platform, we’ve provided a market for you to make use of your insights about how startups will perform in their ICOs.

  Our #{blog_link_to "ICO prediction market category", browse_path(@ico_category)} is designed to inform investors, consumers, and regulators about important aspects of token projects.
  Available markets can range from the technical feasibility of the project and its roadmap to the fairness of token prices or even the trustworthiness and regulatory compliance of projects.

  On PredictionMarkt, you can take part in betting on markets such as:

  * “Will the team achieve their set milestones?”
  * “Will the token sale reach its market cap?”
  * “How fast will the tokens be sold out?”
  * “Will the average price of token X drop by Y% after a specified period?”, and so on.

  > Token sales are inefficient and lack a certain type and direction of liquidity: you can’t short sell the newly issues tokens.

  ## Sounds great, what's next?

  Are you ready to put your insights and intuition to work? Then PredictionMarkt is ready for you.

  Learn how trading works via our simple guide:

  #{blog_post_link_from_post_id(2, text: 'Learn to trade')}

  ## Tell us what you think!

    We believe that prediction markets will be an important tool for the blockchain space, and we can’t wait to hear your feedback about the service.

    Please reach out our #{blog_link_to 'telegram group', 'https://t.me/predictionmarkt'} or via #{mail_to 'concierge@predictionmarkt.com'} if you have any questions, comments, or feedback.
