markdown:
  This post will guide you through 3 simple steps of buying shares in a prediction market.
  If you are new to prediction markets, you can read #{blog_link_to "how prediction markets work", how_path} first.

  ## Step 1

  First, create an account and deposit a bit of ETH you want to trade with.

  #{link_to "Sign Up", new_user_registration_path, class: 'btn-blog-action'}

  ## Step 2

  Find the market category you are interested in. There are a few #{blog_link_to "prediction market categories", markets_path} to choose from.

  Let’s take a look at the prediction market for SapienNetwork token, from the #{blog_link_to "prediction markets for initial coin offerings", browse_path(@ico_category)}.
  Normally the token being sold during the ICO is not openly tradeable, not everybody can participate in the crowd sale and it is not possible to short-sell the token (bet against the token price growth) before it gets listed on the exchanges.

  PredictionMarkt creates an opportunity to make money on that:

  ![Outcomes and their odds in the predction market](/blog/2/pmkt-sapien-network-token-odds.png)

  The crowd is ~70% confident that the SPN token price won't grow and it looks like the ICO might be risky.

  Let's say you know that the SPN token price will drop after the ICO, then you have two ways to profit from that:


  * Buy "No" shares at 70% of the price;
  * Purchase the fixed-price "Outcome Bundle" at 100% of the price, getting both "Yes" and "No" shares, then sell "Yes" shares immediately.

  If you are right, in both cases you will end up with "No" shares, which will be liquidated at 100% of the price when the market settles.

  ## Step 3

  Let’s try to purchase “No” shares:

  ![Purchase shares in the prediction market](/blog/2/pmkt-sapien-network-token-trade-no.png)

  You can see that the crowd is asking 70% price for the “No” shares. If you buy “No” shares for that price, you will get the other 30% when the token price drops in 3 months. Worth a shot!

  ## Done!

  ![Done, you've purchased shares in the prediction market](/blog/2/pmkt-sapien-network-token-order-complete.png)

  Now you own the "No" shares. You can sell them or trade them without waiting for the outcome of the events, otherwise the share will automatically convert to 100% if your prediction is correct.

  ## Reach out for help

  We just went through a simple trading example and PredictionMarkt enables you to utilise more powerful prediction trading strategies. We are always ready to help and we can’t wait to hear your feedback about the service. Please reach out our #{blog_link_to 'telegram group', 'https://t.me/predictionmarkt'} if you have any questions!
