- spec = @market.market_spec
| The market outcome will be determined as "Yes" if the price of #{ spec.title_symbol_name } currency reaches $#{spec.limit_price} at any point before 11:59 p.m. (UTC) on #{spec.date_short_text}, as reported by a credible source such as Coinmarketcap.
