.page-content
  markdown:
    # Developer Platform

    ## API Access

    Please contact #{mail_to 'concierge@predictionmarkt.com'} if you are interested in testing API-access to PredictionMarkt.

    ## Integrations and partnerships

    We are interested in integrating with data and service platforms, consuming and providing the relevant market data. Please get in touch with us.
