.page-content
  = page_headline('Terms of Service', no_wrapper: true)

  markdown:
      By using PredictionMarkt, you agree to be bound by all the following terms and conditions.

      PredictionMarkt reserves the right to change or modify any of the terms and conditions, at any time, by posting new terms to the site located at #{link_to terms_url, terms_path}. You are responsible for regularly reviewing the policy.

      If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.

      PredictionMarkt reserves the right in its sole discretion to modify or delete any information published, suspend, discontinue or restrict your access to the service at any time for any reason or without reason, with or without notice, are not responsible for any harm that you might be caused by such action.

    ## Membership Eligibility

      PredictionMarkt is available globally and reserved only for individuals or businesses that can establish a legally binding contract under the laws applicable in their country of residence. Without limiting the undermentioned terms, our Services are not available to people aged under 18 or who have not attained the legal age (“Minors”). If you are a minor, you cannot use this service.

      To avoid any doubt, we disclaim any liability for unauthorized use by minors of our Services in any manner or another. You are solely responsible for any decision and / or made by you based on the content of the Site. Without derogating from the above-mentioned provision, we disclaim any responsibility for auditing and/or checking your level of knowledge and/or experience, and any liability for damages and/or loss suffered as a direct result and/or indirectly from your use of the Site. It is the same for any transaction and/or use of the Services. Without limiting the above-mentioned provisions, our Services are not available in areas where their use is illegal and PredictionMarkt reserves the right to refuse and/or cancel access to its Services to anyone at its sole convenience.

    ## Legal Restrictions

      Without limiting the undermentioned provisions, you understand that laws regarding bets on prediction markets vary throughout the world, and it is your responsibility to make sure you properly comply with any law, regulation or guideline in your country of residence regarding the use of the Site. To avoid any doubt, the ability to access our Site does not necessarily mean that our Services and/or your activities through the Site are legal under the laws, regulations or directives relevant to your country of residence.
    You hereby declare that any currency in your account with PredictionMarkt does not come from drug trafficking or any other illegal or criminal activity.

    ## General Restrictions

      It is prohibited to abuse PredictionMarkt for purposes of money laundering. PredictionMarkt reserves the right to refuse and to terminate any business relationship, and to cancel any operation of customers who do not comply with the requirements of anti-money laundering.

    Users are forbidden to use PredictionMarkt platform for money laundering, betting fraud, match fixing, line manipulation or any other illegal activities.
    The customer may not, under any circumstances, create multiple accounts in order to defraud PredictionMarkt.

    PredictionMarkt holds a zero tolerance fraud policy, and is taking all measures possible to prevent it. Any fraudulent activity will be documented and all related accounts to it will be immediately closed. All funds in these accounts will be forfeited.

    ## Risk Disclosure

      You agree to use PredictionMarkt at your own risk. Without limiting the undermentioned provisions, the services provided on this site is intended only to customers who are able to withstand the loss of any money they put into the betting of prediction markets and who understand the risks and have experience in taking risks in prediction markets. You should be aware of all the risks related to prediction markets.

    ## Trade Cancellation

      PredictionMarkt reserves the right to cancel any trade that was made on an obviously bad line or price.
      PredictionMarkt reserves the right in its sole discretion, to refuse or cancel services, and/or refuse to distribute profits to any person for legitimate reasons, including, without limitation:

      * if there is a reason to believe that a person’s activities may be illegal;
      * if PredictionMarkt may be harmed by any fiscal or pecuniary damage due to anyone’s activities;
      * if one or more operations on PredictionMarkt were made in violation of this Agreement.

    ## Payment procedure

      PredictionMarkt supervises every withdrawal request submitted. All withdrawals are processed within 24 hours unless technical reasons, unusual demand or suspicious activities forbids it. Withdrawal and Deposit fees are subject to change and are made available on the Deposit and Withdrawal pages on the website.

    ## Limited Liability

      We are committed to ensure continuity of the Services on the Site. However, we assume no responsibility for any error, omission, deletion, interruption, delay, defect, in operation or transmission, communications line failure, theft or destruction or unauthorized access or alteration of the Site or Services. We decline responsibility for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, hardware or software, or any technical failure because of technical problems or traffic congestion on the Internet, the Site or any Service.
    To the extent permitted by applicable law, in no event shall we be liable for any loss or damage arising from use of the Site or Services for any content posted on or through the Site or Services, or the conduct of all users of the Site or Services, whether online or offline.

    In no event PredictionMarkt or any of its directors, officers, employees or agents shall be liable for any damages whatsoever to you, including, without limitation, indirect, incidental, consequential or punitive damages arising out of or related to the use of the site or the services, including without limitation the quality of the usefulness of information provided through or as part of the site or any betting decision making on the basis of the information, whether the damages were predictable or not and whether or not PredictionMarkt has been acquainted with the possibility of such damages.
    limitation of liability shall apply to the fullest extent permitted by law in the applicable jurisdiction and in no event shall PredictionMarkt cumulative liability to you exceed the amount of money you transferred or deposited in your account on the site in connection with the transaction giving rise to such liability.
